@function pow($number, $exp) {
  $value: 1;

  @if $exp > 0 {
    @for $i from 1 through $exp {
      @if $exp < 0 {
        $value: ($value / $number);
      } @else {
        $value: ($value * $number);
      }
    }
  }

  @return $value;
}

@function scale($multi, $ratio, $base) {
  @return $base * pow($ratio, $multi);
}

@function map-get-safe($map, $key, $error-key: 'item') {
  @if not map.has-key($map, $key) {
    @error ("The #{$error-key} "#{$key}" does not exist.");
  }
  @return map.get($map, $key);
}
